hostname: {{ hostname | to_nice_yaml }}
=================================
system_uptime: {{ system_uptime | to_nice_yaml }}
=================================
PING: {{ PING | to_nice_yaml }}
=================================